
 body, div, span, object, 
h1, h2, h3, h4, h5, h6, p,
a, address, code,
del, dfn, em, img, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
 footer, header, hgroup, 
menu, nav, output, section {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}



* {
    border: 1px solid grey;
}

nav {
    margin: 3%;
    text-align: center;
}

nav a {
    padding: 2%;
    margin: 7.5%;
    border-radius: 20px;
    color: white;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.involved {
    background-color: #FFCD69;
}

.top-image {
    border-radius: 200px ;
    margin:2.5% 10%;
    height: 20%;
    width: 20%
}

.headlines {
    width: 30%;
    margin: 0 10%;
    border: 5px solid black;
    display: inline-block;
}

h1, h2, h3 {
    line-height: 2;
    letter-spacing: 2px;  
    text-align: center;
    padding: 7%;
}

.body-text {
    background-color: #DDB9A3;
    color: white;
    margin: 0 10%;
    padding: 3%;
    text-align: center;
}

.body-text p {
    margin: 2% 0;
}